footer.footer
	section.trust
		.section
			h3.trust_title Trust Global Forwarding
			ul.trust_list
				li.trust-item
					h5.trust-item_title 80K+ contracted carriers
					p.trust-item_text
						| We scorecard carriers on a quarterly basis to
						| bring you reliable service.
				li.trust-item
					h5.trust-item_title 11M+ annual shipments
					p.trust-item_text
						| We aggregate volume to offer you competitive
						| pricing and shipping rates.
				li.trust-item
					h5.trust-item_title Trusted by 25K+ customers
					p.trust-item_text
						| Experience working with the largest, most
						| sophisticated shippers to local businesses.
			p.trust_text
				| At Global Forwarding, we're dedicated to supporting small
				| businesses like yours. We pledge to offer you the same
				| high-quality resources that large corporations enjoy when
				| shipping their products. With our cutting-edge technologies,
				| seamless integrations, instant online freight quotes, and
				| strong carrier partnerships, we provide everything you need to
				| establish a strong presence in the freight shipping industry.
	section.shipping
		.section
			form.shipping-form
				h3.shipping-form_title Get Your Shipping Quote
				input.footer_inpt(type="text" name="zip" placeholder="Pickup Zip Code")
				button.btn
					span Start Quoting
			.shipping_bottom
				span *Lowest price guarantee terms and conditions apply.
	section.news
		.section
			.news-row
				.news-col
					h3.news_title Latest News
					p.news_text
						| Get cost savings tips, instant quotes, and new ideas to
						| help streamline shipping for your small business.
					a.news_link privacy notice
				form.news-col.news-form
					.news-form_row
						input.footer_inpt(type="text" name="email" placeholder="Enter email address")
						select.footer_inpt(name="select")
							option Select...
							option USA
							option Canada
					button.btn Keep Me Informed
	section.footer-bottom
		.section
			.footer-bottom_row
				span.footer-copy © 2024 Global Forwarding. All Rights Reserved.
				.footer-bottom_links
					a(href="#").footer-bottom_link Terms + Conditions
					a(href="#").footer-bottom_link Global Privacy Notice
					a(href="#").footer-bottom_link Sitemap
					a(href="#").footer-bottom_link Your Privacy Rights
				.head-col.head-logo-cont
					a(href='/').head-logo
						img(src='/img/head_logo.png')
					a(href="tel:8772870804").head-phone
						svg
							use(xlink:href="#head_phone")
						| 877-287-0804
	include ../../img/sprite.svg
	script(src='/front.js' type='module')