header.head
	.section
		.head-row
			.head-col.head-logo-cont
				a(href='/').head-logo
					img(src='/img/head_logo.png')
				a(href="tel:8772870804").head-phone
					svg
						use(xlink:href="#head_phone")
					| 877-287-0804
			nav.head-col.head-nav
				.head-nav_item
					button.head-nav_btn
						span Services
						svg
							use(xlink:href="#arrow_bottom")
					ul.head-nav-list
						li.head-nav-list_item
							a(href="#").head-nav-list_link Link #1
						li.head-nav-list_item
							a(href="#").head-nav-list_link Link #2
						li.head-nav-list_item
							a(href="#").head-nav-list_link Link #3
				.head-nav_item
					button.head-nav_btn
						span Learn
						svg
							use(xlink:href="#arrow_bottom")
					ul.head-nav-list
						li.head-nav-list_item
							a(href="#").head-nav-list_link Link #1
						li.head-nav-list_item
							a(href="#").head-nav-list_link Link #2
						li.head-nav-list_item
							a(href="#").head-nav-list_link Link #3
				.head-nav_item
					a(href="#").head-nav_btn Rewards
			.head-col.head_btns
				button.btn
					span Get Quotes
				button.head_btn
					svg
						use(xlink:href="#head_location")
					span TRACK
				button.head_btn
					svg
						use(xlink:href="#head_search")
					span SEARCH
				button.head_btn
					svg
						use(xlink:href="#head_user")
					span SIGN IN
