header.head
	.section
		.head-row
			.head-col.head-logo-cont
				a(href='/').head-logo
					img(src='/img/head_logo.png')
				a(href="tel:8772870804").head-phone
					svg
						use(xlink:href="#head_phone")
					| 877-287-0804
			.head-col.head-hidden
				nav.head-nav
					.head-nav_item
						a(href="/why").head-nav_btn Why We
					.head-nav_item
						button(data-click="front:showHeadSubmenu").head-nav_btn
							span Services
							svg
								use(xlink:href="#arrow_bottom")
						.head-nav-list
							ul.head-nav-sublist
								li.head-nav-sublist_item
									a(href="/freight").head-nav-sublist_btn Less than Truckload
								li.head-nav-sublist_item
									a(href="/truckload").head-nav-sublist_btn Truckload
								li.head-nav-sublist_item
									a(href="/parcel").head-nav-sublist_btn Parcel
				//form.head-nav-form#head-search-form
				//	.head-nav-form_left
				//		input(type="text" placeholder="Search Global Forwarding").head-nav-form_inpt
				//		button.head-nav-form_btn
				//			svg
				//				use(xlink:href="#head_search")
				//	button(type="button" data-click="front:closeHeadForm").head-nav-form_close
				//form.head-track-form#head-track-form
				//	.head-track-form_left
				//		input(type="text" placeholder="Enter Tracking# or BOL#").head-track-form_inpt
				//		button.head-track-form_btn
				//			svg
				//				use(xlink:href="#head_search")
				//	button(type="button" data-click="front:closeHeadForm").head-track-form_close
			.head-col.head_btns
				button.btn
					span Get Quotes
				//button(data-click="front:showHeadForm" data-target="#head-track-form").head-btn.head-btn_track
				//	svg
				//		use(xlink:href="#head_location")
				//	span Track
				//button(data-click="front:showHeadForm" data-target="#head-search-form").head-btn.head-btn_search
				//	svg
				//		use(xlink:href="#head_search")
				//	span Search
				button.head-btn.head-btn_signin
					svg
						use(xlink:href="#head_user")
					span Sign In
			button(data-click="front:headBurgerClick").head-burger ☰