@import mixins
@import vars
@import groups
@import reset
@import front


svg
	display: block
	max-width 100%
.sprite-svg
	display: none!important
a
	color RGB($dark_gray)

.body
	color RGB($dark_gray)
	font 16px $f_reg
	display: flex
	flex-direction: column
.section
	padding 0 20px
	+tablet()
		w 768px
		padding 0
		margin 0 auto
	+desktop()
		w 1200px
.btn
	padding 13px 38px
	background-color RGB($dark_blue)
	color RGB($white)
	font-size 16px
	line-height 16px
	
