:root
	--dark_blue: getRgb(#00578E)
	--shipping_blue: getRgb(#004986)
	--dark_gray: getRgb(#333)
	--white: getRgb(#fff)
	--light_gray: getRgb(#AFC6D5)
	--light_blue: getRgb(#0C7DBB)
	--inpt_gray: getRgb(#757575)
	--news_gray: getRgb(#63666A)

$dark_blue = var(--dark_blue)
$shipping_blue = var(--shipping_blue)
$dark_gray = var(--dark_gray)
$white = var(--white)
$light_gray = var(--light_gray)
$light_blue = var(--light_blue)
$inpt_gray = var(--inpt_gray)
$news_gray = var(--news_gray)

$f_reg = "HelveticaNeueCyr-Roman";
$f_bold = "HelveticaNeueCyr-Bold";
$t_bold = "TitilliumWeb-Bold";
$t_reg = "TitilliumWeb-Regular";
$y_reg = "Yantramanav-Regular";
$y_bold = "Yantramanav-Bold";

font_inc($f_reg,"HelveticaNeueCyr-Roman.woff2");
font_inc($f_bold,"HelveticaNeueCyr-Bold.woff2");
font_inc($t_bold,"TitilliumWeb-Bold.ttf");
font_inc($t_reg,"TitilliumWeb-Regular.ttf");
font_inc($y_reg,"Yantramanav-Regular.ttf");
font_inc($y_bold,"Yantramanav-Bold.ttf");
